.hero_section{
    margin-top: 80px;
    background: var(--primary-color);
    height: calc(100vh - 80px);
}

.hero_container{
    display: static;
    
}

.section_container{
    width: var(--site-max-width);
    margin: 0 auto;
}