.section_container{
    width: var(--site-max-width);
    margin: 0 auto;
}

.section_title{
    text-align: center;
    padding: 32px 0;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section_title::after{
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: auto;
    border-radius: 8px;
}


/* Why Us Section */
.why_us{
    background: #FFFFFF; #d2d2d2
    padding: 52px 0;
}

.why_us .why_container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.why_container .why_items img{
    width: 30%;
}

.why_container .why_items{
    width: calc(100% / 3 - 32px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.why_items .why_us_text{
    text-align: center;
}

.why_items .why_us_text h3{
    margin: 12px 0;
}

.why_items .why_us_text p{
    font-size: 18px;
    font-weight: 400;
    color: var(--light-gray);
    font-family: 'Poppins';
}


/* Media Query */

@media screen and (max-width: 1024px) {
    .section_container{
        width: 100%;
        padding: 0 5%;
    }

    .why_us .why_container{
        flex-direction: column;
    }

    .why_container .why_items{
        width: 100%;
    }
}
