.section_container{
    width: var(--site-max-width);
    margin: 0 auto;
}

.section_title{
    text-align: center;
    padding: 32px 0;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section_title::after{
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: auto;
    border-radius: 8px;
}


/* Gallery Section */
.gallery{
    background: #E3E3E3;
    padding: 52px 0;
}

.gallery .gallery_container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .gallery_container img{
    width: 100%;
    border-radius: 8px;
}

.gallery_container .gallery_items{
    width: calc(100% / 3 - 32px);
}


.gallery_container .gallery_items :hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
  }

/* Media Query */

@media screen and (max-width: 1024px) {
    .section_container{
        width: 100%;
        padding: 0 5%;
    }

    .gallery_container .gallery_items{
        width: calc(100% / 2 - 32px);
    }
}

@media screen and (max-width: 426px) {
    .gallery_container .gallery_items{
        width: 100%;
    }
}    