.section_container {
  width: var(--site-max-width);
  margin: 0 auto;
}

/* Footer Section */
footer {
  background: var(--white);
  color: var(--black);
  padding: 52px 0 0;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footer_section h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

.footer_section .footer_logo a {
  display: flex;
  align-items: center;
  color: black;
}

.footer_section .useful_links {
  text-align: center;
}

.footer_section .useful_links ul li {
  margin: 10px 0;
}

.footer_section .useful_links ul li a {
  color: var(--light-gray);
  font-size: 18px;
}

.footer_section .useful_links ul li a:hover {
  text-decoration: underline;
}

.footer_section .contact_us ul li {
  margin: 10px 0;
  font-size: 18px;
  color: var(--light-gray);
}

.footer_section .follow_us i {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer_section .follow_us i:hover {
  transform: scale(1.3);
}

.copyright-text {
  width: 100%;
  background: var(--white);
  padding: 20px 100px;
  text-align: center;
  color: var(--light-gray);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .section_container {
    width: 100%;
    padding: 0 5%;
  }

  .footer_section {
    flex-direction: column;
    gap: 24px;
  }

  .footer_section .useful_links {
    text-align: start;
  }

  .copyright-text {
    padding: 20px 40px;
  }
}
